@model AssetTracker.Models.EntryModel.OrganizationBranch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrganizationBranch</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organization.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationBranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationBranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationBranchCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationBranchCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
